@h1_ff: "Raleway";
@h1_fs: 4.667em;
@h1_lh: 1.3em;
@h1_fw: 300;
@h1_fl: inherit;
@h1_td: inherit;
@h1_mt: 0.5em;
@h1_mb: 0.875em;

.h1_font() {
	font-family:"Raleway";
	font-size:4.667em;
	line-height: 1.3em;
	font-weight: 300;
}

.h1_margins() {
	margin-top: 0.5em;
	margin-bottom: 0.875em;
}

@h2_ff: "Raleway";
@h2_fs: 4em;
@h2_lh: 1.3em;
@h2_fw: 300;
@h2_fl: inherit;
@h2_td: inherit;
@h2_mt: 1.74em;
@h2_mb: 0.915em;

.h2_font() {
	font-family:"Raleway";
	font-size:4em;
	line-height: 1.3em;
	font-weight: 300;
}

.h2_margins() {
	margin-top: 1.74em;
	margin-bottom: 0.915em;
}

@h3_ff: "Raleway";
@h3_fs: 3.333em;
@h3_lh: 1.3em;
@h3_fw: 300;
@h3_fl: inherit;
@h3_td: inherit;
@h3_mt: 2.18em;
@h3_mb: 1.16em;

.h3_font() {
	font-family:"Raleway";
	font-size:3.333em;
	line-height: 1.3em;
	font-weight: 300;
}

.h3_margins() {
	margin-top: 2.18em;
	margin-bottom: 1.16em;
}

@h4_ff: "Raleway";
@h4_fs: 3em;
@h4_lh: 1.3em;
@h4_fw: 300;
@h4_fl: inherit;
@h4_td: inherit;
@h4_mt: 2.45em;
@h4_mb: 1.08em;

.h4_font() {
	font-family:"Raleway";
	font-size:3em;
	line-height: 1.3em;
	font-weight: 300;
}

.h4_margins() {
	margin-top: 2.45em;
	margin-bottom: 1.08em;
}

@h5_ff: "Raleway";
@h5_fs: 1.533em;
@h5_lh: 1.3em;
@h5_fw: 500;
@h5_fl: inherit;
@h5_td: inherit;
@h5_mt: 5em;
@h5_mb: 1.5em;

.h5_font() {
	font-family:"Raleway";
	font-size:1.533em;
	line-height: 1.3em;
	font-weight: 500;
}

.h5_margins() {
	margin-top: 5em;
	margin-bottom: 1.5em;
}

@h6_ff: inherit;
@h6_fs: 1.2em;
@h6_lh: 1.3em;
@h6_fw: 400;
@h6_fl: inherit;
@h6_td: inherit;
@h6_mt: 6.5em;
@h6_mb: 1.45em;

.h6_font() {
	font-size:1.2em;
	line-height: 1.3em;
	font-weight: 400;
}

.h6_margins() {
	margin-top: 6.5em;
	margin-bottom: 1.45em;
}

@p_ff: "Source Serif Pro";
@p_fs: 15px;
@p_lh: 1.667em;
@p_fw: 400;
@p_fl: inherit;
@p_td: inherit;
@p_mt: inherit;
@p_mb: 1em;

.p_font() {
	font-family:"Source Serif Pro";
	font-size:15px;
	line-height: 1.667em;
	font-weight: 400;
}

.p_margins() {
	margin-bottom: 1em;
}

@link_ff: inherit;
@link_fs: inherit;
@link_lh: inherit;
@link_fw: inherit;
@link_fl: inherit;
@link_td: inherit;
@link_mt: inherit;
@link_mb: inherit;

.link_font() {
}

.link_margins() {
}

@info_ff: "Source Serif Pro";
@info_fs: 0.933em;
@info_lh: inherit;
@info_fw: 400;
@info_fl: inherit;
@info_td: inherit;
@info_mt: inherit;
@info_mb: inherit;

.info_font() {
	font-family:"Source Serif Pro";
	font-size:0.933em;
	font-weight: 400;
}

.info_margins() {
}

@menu_ff: inherit;
@menu_fs: 1.2em;
@menu_lh: 1em;
@menu_fw: inherit;
@menu_fl: inherit;
@menu_td: inherit;
@menu_mt: 1.45em;
@menu_mb: 1.5em;

.menu_font() {
	font-size:1.2em;
	line-height: 1em;
}

.menu_margins() {
	margin-top: 1.45em;
	margin-bottom: 1.5em;
}

@submenu_ff: inherit;
@submenu_fs: 0.933em;
@submenu_lh: 1em;
@submenu_fw: inherit;
@submenu_fl: inherit;
@submenu_td: inherit;
@submenu_mt: 1em;
@submenu_mb: 1em;

.submenu_font() {
	font-size:0.933em;
	line-height: 1em;
}

.submenu_margins() {
	margin-top: 1em;
	margin-bottom: 1em;
}

@logo_ff: inherit;
@logo_fs: 2.8571em;
@logo_lh: 0.9em;
@logo_fw: 700;
@logo_fl: inherit;
@logo_td: inherit;
@logo_mt: 2.5em;
@logo_mb: 2em;

.logo_font() {
	font-size:2.8571em;
	line-height: 0.9em;
	font-weight: 700;
}

.logo_margins() {
	margin-top: 2.5em;
	margin-bottom: 2em;
}

@button_ff: "Raleway";
@button_fs: 0.733em;
@button_lh: 1em;
@button_fw: 600;
@button_fl: inherit;
@button_td: inherit;
@button_mt: inherit;
@button_mb: inherit;

.button_font() {
	font-family:"Raleway";
	font-size:0.733em;
	line-height: 1em;
	font-weight: 600;
}

.button_margins() {
}

@input_ff: inherit;
@input_fs: inherit;
@input_lh: 1.2857em;
@input_fw: inherit;
@input_fl: inherit;
@input_td: inherit;
@input_mt: inherit;
@input_mb: inherit;

.input_font() {
	line-height: 1.2857em;
}

.input_margins() {
}


@original_bd_color: #e5e5e5;
@original_bg_color: #ffffff;
@original_text: #828282;
@original_text_light: #9a9a9a;
@original_text_dark: #383838;
@original_text_link: #383838;
@original_text_hover: #9a9a9a;
@original_inverse_text: #ffffff;
@original_inverse_light: #ffffff;
@original_inverse_dark: #ffffff;
@original_inverse_link: #ffffff;
@original_inverse_hover: #ffffff;
@original_input_text: #8a8a8a;
@original_input_light: #acb4b6;
@original_input_dark: #2d2d2d;
@original_input_bd_color: #dedede;
@original_input_bd_hover: #a3a3a3;
@original_input_bg_color: #f7f7f7;
@original_input_bg_hover: #f0f0f0;
@original_alter_text: #8a8a8a;
@original_alter_light: #acb4b6;
@original_alter_dark: #1c1c1c;
@original_alter_link: #20c7ca;
@original_alter_hover: #189799;
@original_alter_bd_color: #e8e8e8;
@original_alter_bd_hover: #eeeeee;
@original_alter_bg_color: #f7f7f7;
@original_alter_bg_hover: #f0f0f0;
@brown_bd_color: #e5e5e5;
@brown_bg_color: #ffffff;
@brown_text: #828282;
@brown_text_light: #9a9a9a;
@brown_text_dark: #383838;
@brown_text_link: #beb888;
@brown_text_hover: #9a9a9a;
@brown_inverse_text: #ffffff;
@brown_inverse_light: #ffffff;
@brown_inverse_dark: #ffffff;
@brown_inverse_link: #ffffff;
@brown_inverse_hover: #ffffff;
@brown_input_text: #8a8a8a;
@brown_input_light: #acb4b6;
@brown_input_dark: #2d2d2d;
@brown_input_bd_color: #dedede;
@brown_input_bd_hover: #a3a3a3;
@brown_input_bg_color: #f7f7f7;
@brown_input_bg_hover: #f0f0f0;
@brown_alter_text: #8a8a8a;
@brown_alter_light: #acb4b6;
@brown_alter_dark: #1c1c1c;
@brown_alter_link: #20c7ca;
@brown_alter_hover: #189799;
@brown_alter_bd_color: #e8e8e8;
@brown_alter_bd_hover: #eeeeee;
@brown_alter_bg_color: #f7f7f7;
@brown_alter_bg_hover: #f0f0f0;
@green_bd_color: #e5e5e5;
@green_bg_color: #ffffff;
@green_text: #828282;
@green_text_light: #9a9a9a;
@green_text_dark: #383838;
@green_text_link: #afdee2;
@green_text_hover: #9a9a9a;
@green_inverse_text: #ffffff;
@green_inverse_light: #ffffff;
@green_inverse_dark: #ffffff;
@green_inverse_link: #ffffff;
@green_inverse_hover: #ffffff;
@green_input_text: #8a8a8a;
@green_input_light: #acb4b6;
@green_input_dark: #2d2d2d;
@green_input_bd_color: #dedede;
@green_input_bd_hover: #a3a3a3;
@green_input_bg_color: #f7f7f7;
@green_input_bg_hover: #f0f0f0;
@green_alter_text: #8a8a8a;
@green_alter_light: #acb4b6;
@green_alter_dark: #1c1c1c;
@green_alter_link: #20c7ca;
@green_alter_hover: #189799;
@green_alter_bd_color: #e8e8e8;
@green_alter_bd_hover: #eeeeee;
@green_alter_bg_color: #f7f7f7;
@green_alter_bg_hover: #f0f0f0;
@red_bd_color: #e5e5e5;
@red_bg_color: #ffffff;
@red_text: #828282;
@red_text_light: #9a9a9a;
@red_text_dark: #383838;
@red_text_link: #652c32;
@red_text_hover: #9a9a9a;
@red_inverse_text: #ffffff;
@red_inverse_light: #ffffff;
@red_inverse_dark: #ffffff;
@red_inverse_link: #ffffff;
@red_inverse_hover: #ffffff;
@red_input_text: #8a8a8a;
@red_input_light: #acb4b6;
@red_input_dark: #2d2d2d;
@red_input_bd_color: #dedede;
@red_input_bd_hover: #a3a3a3;
@red_input_bg_color: #f7f7f7;
@red_input_bg_hover: #f0f0f0;
@red_alter_text: #8a8a8a;
@red_alter_light: #acb4b6;
@red_alter_dark: #1c1c1c;
@red_alter_link: #20c7ca;
@red_alter_hover: #189799;
@red_alter_bd_color: #e8e8e8;
@red_alter_bd_hover: #eeeeee;
@red_alter_bg_color: #f7f7f7;
@red_alter_bg_hover: #f0f0f0;

.scheme_color(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
color: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
color: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
color: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
color: @@color_var;
}
}
.scheme_color(@color_name, @alpha) {
.scheme_original & {
@color_var: 'original_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
color: rgba(@r, @g, @b, @alpha);
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
color: rgba(@r, @g, @b, @alpha);
}
.scheme_green & {
@color_var: 'green_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
color: rgba(@r, @g, @b, @alpha);
}
.scheme_red & {
@color_var: 'red_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
color: rgba(@r, @g, @b, @alpha);
}
}
.scheme_bg_color(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
background-color: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
background-color: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
background-color: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
background-color: @@color_var;
}
}
.scheme_bg_color(@color_name, @alpha) {
.scheme_original & {
@color_var: 'original_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background-color: rgba(@r, @g, @b, @alpha);
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background-color: rgba(@r, @g, @b, @alpha);
}
.scheme_green & {
@color_var: 'green_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background-color: rgba(@r, @g, @b, @alpha);
}
.scheme_red & {
@color_var: 'red_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background-color: rgba(@r, @g, @b, @alpha);
}
}
.scheme_bg_color_self(@color_name) {
&.scheme_original {
@color_var: 'original_@{color_name}';
background-color: @@color_var;
}
&.scheme_brown {
@color_var: 'brown_@{color_name}';
background-color: @@color_var;
}
&.scheme_green {
@color_var: 'green_@{color_name}';
background-color: @@color_var;
}
&.scheme_red {
@color_var: 'red_@{color_name}';
background-color: @@color_var;
}
}
.scheme_bg_color_self(@color_name, @alpha) {
&.scheme_original {
@color_var: 'original_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background-color: rgba(@r, @g, @b, @alpha);
}
&.scheme_brown {
@color_var: 'brown_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background-color: rgba(@r, @g, @b, @alpha);
}
&.scheme_green {
@color_var: 'green_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background-color: rgba(@r, @g, @b, @alpha);
}
&.scheme_red {
@color_var: 'red_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background-color: rgba(@r, @g, @b, @alpha);
}
}
.scheme_bg(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
background: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
background: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
background: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
background: @@color_var;
}
}
.scheme_bg(@color_name, @alpha) {
.scheme_original & {
@color_var: 'original_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background: rgba(@r, @g, @b, @alpha);
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background: rgba(@r, @g, @b, @alpha);
}
.scheme_green & {
@color_var: 'green_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background: rgba(@r, @g, @b, @alpha);
}
.scheme_red & {
@color_var: 'red_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
background: rgba(@r, @g, @b, @alpha);
}
}
.scheme_bg_image() {
}
.scheme_alter_bg_image() {
}
.scheme_bd_color(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
border-color: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
border-color: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
border-color: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
border-color: @@color_var;
}
}
.scheme_bd_color(@color_name, @alpha) {
.scheme_original & {
@color_var: 'original_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
border-color: rgba(@r, @g, @b, @alpha);
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
border-color: rgba(@r, @g, @b, @alpha);
}
.scheme_green & {
@color_var: 'green_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
border-color: rgba(@r, @g, @b, @alpha);
}
.scheme_red & {
@color_var: 'red_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
border-color: rgba(@r, @g, @b, @alpha);
}
}
.scheme_bdt_color(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
border-top-color: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
border-top-color: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
border-top-color: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
border-top-color: @@color_var;
}
}
.scheme_bdb_color(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
border-bottom-color: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
border-bottom-color: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
border-bottom-color: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
border-bottom-color: @@color_var;
}
}
.scheme_bdl_color(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
border-left-color: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
border-left-color: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
border-left-color: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
border-left-color: @@color_var;
}
}
.scheme_bdr_color(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
border-right-color: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
border-right-color: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
border-right-color: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
border-right-color: @@color_var;
}
}
.scheme_stroke_color(@color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
stroke: @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
stroke: @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
stroke: @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
stroke: @@color_var;
}
}
.scheme_stroke_color(@color_name, @alpha) {
.scheme_original & {
@color_var: 'original_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
stroke: rgba(@r, @g, @b, @alpha);
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
stroke: rgba(@r, @g, @b, @alpha);
}
.scheme_green & {
@color_var: 'green_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
stroke: rgba(@r, @g, @b, @alpha);
}
.scheme_red & {
@color_var: 'red_@{color_name}';
@r: red(@@color_var);
@g: green(@@color_var);
@b: blue(@@color_var);
stroke: rgba(@r, @g, @b, @alpha);
}
}
.scheme_gradient_top(@color_name, @color_percent, @color2_name, @color2_percent) {
.scheme_original & {
@color_var: 'original_@{color_name}';
@color2_var: 'original_@{color2_name}';
background: -webkit-gradient(linear, left top, left bottom, color-stop(@color_percent, @@color_var), color-stop(@color2_percent, @@color2_var));
background: -webkit-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:    -moz-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:     -ms-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:      -o-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:         linear-gradient(to bottom, @@color_var @color_percent, @@color2_var @color2_percent);
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
@color2_var: 'brown_@{color2_name}';
background: -webkit-gradient(linear, left top, left bottom, color-stop(@color_percent, @@color_var), color-stop(@color2_percent, @@color2_var));
background: -webkit-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:    -moz-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:     -ms-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:      -o-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:         linear-gradient(to bottom, @@color_var @color_percent, @@color2_var @color2_percent);
}
.scheme_green & {
@color_var: 'green_@{color_name}';
@color2_var: 'green_@{color2_name}';
background: -webkit-gradient(linear, left top, left bottom, color-stop(@color_percent, @@color_var), color-stop(@color2_percent, @@color2_var));
background: -webkit-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:    -moz-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:     -ms-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:      -o-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:         linear-gradient(to bottom, @@color_var @color_percent, @@color2_var @color2_percent);
}
.scheme_red & {
@color_var: 'red_@{color_name}';
@color2_var: 'red_@{color2_name}';
background: -webkit-gradient(linear, left top, left bottom, color-stop(@color_percent, @@color_var), color-stop(@color2_percent, @@color2_var));
background: -webkit-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:    -moz-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:     -ms-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:      -o-linear-gradient(top, @@color_var @color_percent, @@color2_var @color2_percent);
background:         linear-gradient(to bottom, @@color_var @color_percent, @@color2_var @color2_percent);
}
}
.scheme_gradient_left(@color_name, @color_percent, @color2_name, @color2_percent) {
.scheme_original & {
@color_var: 'original_@{color_name}';
@color2_var: 'original_@{color2_name}';
background: -webkit-gradient(linear, left top, right top, color-stop(@color_percent, @@color_var), color-stop(@color2_percent, @@color2_var));
background: -webkit-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:    -moz-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:     -ms-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:      -o-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:         linear-gradient(to right, @@color_var @color_percent, @@color2_var @color2_percent);
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
@color2_var: 'brown_@{color2_name}';
background: -webkit-gradient(linear, left top, right top, color-stop(@color_percent, @@color_var), color-stop(@color2_percent, @@color2_var));
background: -webkit-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:    -moz-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:     -ms-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:      -o-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:         linear-gradient(to right, @@color_var @color_percent, @@color2_var @color2_percent);
}
.scheme_green & {
@color_var: 'green_@{color_name}';
@color2_var: 'green_@{color2_name}';
background: -webkit-gradient(linear, left top, right top, color-stop(@color_percent, @@color_var), color-stop(@color2_percent, @@color2_var));
background: -webkit-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:    -moz-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:     -ms-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:      -o-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:         linear-gradient(to right, @@color_var @color_percent, @@color2_var @color2_percent);
}
.scheme_red & {
@color_var: 'red_@{color_name}';
@color2_var: 'red_@{color2_name}';
background: -webkit-gradient(linear, left top, right top, color-stop(@color_percent, @@color_var), color-stop(@color2_percent, @@color2_var));
background: -webkit-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:    -moz-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:     -ms-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:      -o-linear-gradient(left, @@color_var @color_percent, @@color2_var @color2_percent);
background:         linear-gradient(to right, @@color_var @color_percent, @@color2_var @color2_percent);
}
}
.scheme_box_shadow(@x, @y, @spread, @size, @color_name) {
.scheme_original & {
@color_var: 'original_@{color_name}';
-webkit-box-shadow: @x @y @spread @size @@color_var;
   -moz-box-shadow: @x @y @spread @size @@color_var;
    -ms-box-shadow: @x @y @spread @size @@color_var;
        box-shadow: @x @y @spread @size @@color_var;
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
-webkit-box-shadow: @x @y @spread @size @@color_var;
   -moz-box-shadow: @x @y @spread @size @@color_var;
    -ms-box-shadow: @x @y @spread @size @@color_var;
        box-shadow: @x @y @spread @size @@color_var;
}
.scheme_green & {
@color_var: 'green_@{color_name}';
-webkit-box-shadow: @x @y @spread @size @@color_var;
   -moz-box-shadow: @x @y @spread @size @@color_var;
    -ms-box-shadow: @x @y @spread @size @@color_var;
        box-shadow: @x @y @spread @size @@color_var;
}
.scheme_red & {
@color_var: 'red_@{color_name}';
-webkit-box-shadow: @x @y @spread @size @@color_var;
   -moz-box-shadow: @x @y @spread @size @@color_var;
    -ms-box-shadow: @x @y @spread @size @@color_var;
        box-shadow: @x @y @spread @size @@color_var;
}
}
.scheme_box_shadow(@x, @y, @spread, @size, @color_name, @alpha) {
.scheme_original & {
@color_var: 'original_@{color_name}';
@c: @@color_var;
@r: red(@c);
@g: green(@c);
@b: blue(@c);
-webkit-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
   -moz-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
    -ms-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
        box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
}
.scheme_brown & {
@color_var: 'brown_@{color_name}';
@c: @@color_var;
@r: red(@c);
@g: green(@c);
@b: blue(@c);
-webkit-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
   -moz-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
    -ms-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
        box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
}
.scheme_green & {
@color_var: 'green_@{color_name}';
@c: @@color_var;
@r: red(@c);
@g: green(@c);
@b: blue(@c);
-webkit-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
   -moz-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
    -ms-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
        box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
}
.scheme_red & {
@color_var: 'red_@{color_name}';
@c: @@color_var;
@r: red(@c);
@g: green(@c);
@b: blue(@c);
-webkit-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
   -moz-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
    -ms-box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
        box-shadow: @x @y @spread @size rgba(@r, @g, @b, @alpha);
}
}
